.card-stack:hover{
  height: 250px;
}
 .easy:has(.card-stack:hover) .label {
  font-size: xx-large;
  margin-left: 155px;
}
 .medium:has(.card-stack:hover) .label {
  font-size: xx-large;
  margin-left: 155px;
}
 .hard:has(.card-stack:hover) .label {
  font-size: xx-large;
  margin-left: 155px;
}
 .expert:has(.card-stack:hover) .label {
  font-size: xx-large;
  margin-left: 155px;
}
.logo-title {
  height:100px;
  /* border-radius: 100%; */
  /* border: 10px solid #FEDE00; */
}
body {
  background-color: #0080ff;
}

h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
/* Header Title */
.header {
  padding: 40px;
  text-align: center;
  background: #f9f7f7;
  margin:30px;
  font-size: 25px;
}
.red-piece{
  /* padding: 40px; */
  padding-right: 40px;
  height: 100px;
  background: #f9f7f7;
  /* margin:30px; */
}
.blue-piece{
  /* padding: 40px; */
  padding-left: 40px;
  padding-right: 80px;
  height: 100px;
  background: #f9f7f7;
  /* margin:30px;x */
  margin-top: 50px;
}
.green-piece{
  /* padding: 40px; */
  padding-left: 80px;
  padding-right: 40px;
  height: 100px;
  background: #f9f7f7;
  /* margin:30px; */
}
.yellow-piece{
  /* padding: 40px; */
  padding-left: 40px;
  height: 100px;
  background: #f9f7f7;
  /* margin:30px; */
}
.card-stack{
  padding: 20px;
  height: 200px;
  transform: rotate(90deg);
  margin:10px;
  pointer-events: auto;
  transition:
    height 1s;
}
.label{
  font-size: x-large;
  margin-left: 135px;
  font-family: 'Courier New', Courier, monospace;
  transition:
    font-size 1s,
    margin-left 1s;
}
.card-list{ 
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
}
.rules-text{
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 200;
  text-align: center;
  display: block;
}
.rules {
  max-width: max-content;
  width: 800px;
  height: 2100px;
  margin-left: auto;
  margin-right: auto;
  }
.rule-box{
  font-size: 1.5em;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button{
 display: flex; 
 display: none;
 justify-content: center; 
}

.flipcard{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  filter: drop-shadow(0 5px 5px rgba(0,0,0, 0.5));
  
	--card-depth: 1em;
}
flip-card {

	--card-depth: 1em;


	--corner-granularity: 16;
	border-radius: 5em;
  
	--flip-height: 40em;
	--flip-duration: 1s;
}

.card-container {
	perspective: 125em;
	perspective-origin: center;
}

.card-container flip-card {
	perspective: none;
}
.card-text{
  width: 700px;
  height: 446.009px;
  /* border: 1px solid #000000; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  transform: rotateZ(180deg);
}
.back{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-value{
  font-family: Sorry;
}
.card-info{
  text-align: center;
  visibility: hidden;
}
.ans-box{
  font-size: 1.5em; 
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: normal;
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.answer{
  visibility: hidden;
}